<html>
	<head>
		<title>برودكاست - لوحة التحكم</title>
		<link rel="stylesheet" type="text/css" href="<%= url ('style.css') %>">
		<meta charset="UTF-8">
		<link rel="icon" type="img/png"href="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-14-128.png">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="title">
					<div id="page-name">
						<a href =""><h1 id="tit">رسائل الزوار</h1></a>
					</div>
					<div id="navview">
					</div>
					<a href="/admin/brdcast/setting" title="اعدادات البرودكاست"><div id="setting">
					</div></a>
			</div>
			<div id="navbar">
				<ul id="nav">
					<a href="/"><li class="nav"><label>زيارة الموقع</label></li></a>
					<a href="/admin"><li class="nav"><label>الرئيسية</label></li></a>
					<a href="/admin/brdcast/add"><li class="nav"><label>اضافة برودكاست</label></li></a>
					<li class="nav" id="main-nav"><label>اعدادات البرودكاست</label></li>
					<a href="/admin/brdcast/setting"><li class="nav"><label>البرودكستات المفعلة</label></li></a>
					<a href="/admin/brdcast/setting/activation"><li class="nav"><label>تفعيل البرودكاستات</label></li></a>
					<a href="/admin/messages"><li class="nav" id="current-page"><label>رسائل الزوار</label></li></a>
					<a href="/logout"><li class="nav"><label>تسجيل الخروج</label></li></a>
				</ul>
			</div>
			<div id="admin-main">
				<div id="last-mes">
					<h2 id="last-mes-title">الرسائل</h2>
					<table border=1px style="width:100%;" id="last-brd-table">
						<tr>
							<thead>
							<th>الاسم</th>
							<th>الهاتف</th>
							<th>الايميل</th>
							<th>الرسالة</th>
							<th>حذف</th>
						</tr>
						<% @visitor_mes.each do |vm| %>
						<tr>
							<td><%= vm[:visitor_name] %></td>
							<td><%= vm[:visitor_phone] %></td>
							<td><%= vm[:visitor_email] %></td>
							<td><%= vm[:visitor_message] %></td>
							<td class="table-del-post"><a href="/admin/messages/setting/del/<%= vm[:id] %>"><div class="deletepost"></div></a></td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
			<footer>
				<a href=""><h3>تصميم وبرمجة البوسطة</h3></a>
			</footer>
		</div>
	</body>
	<script> 
	$(document).ready(function(){
	  $("#navview").click(function(){
	    $("#navbar").slideToggle("slow");
	  });
	});
	</script>
</html>